
.kasa-collapse-container {
    position: relative;
    z-index: 10;
    width: 58.2rem;
    font-size: 1.8rem;
    
}

.kasa-collapse-title{
    display: flex;
    justify-content: space-between; 
    background-color: #ff6060;
    color: white;
    border-radius: 1rem;
    padding: 1.3em 2em;
    margin-top: 2em;
    cursor: pointer;
}

.kasa-collapse-title h3{
    font-size: 1.8rem;
    font-weight: 500;
}

.kasa-collapse-text{
    position: absolute;
    top: 3em;
    right: 0;
    left: 0;
    z-index: -1;
    visibility: hidden;
    height: 0;
    opacity: 0;
    overflow: hidden;
    background-color: #f6f6f6;
    border-radius: 1em;
    padding: 2em 2em 1.5em 2em;
    transition: all .3s ease-in-out;    
}

.active {
    visibility: visible;
    height: auto;
    opacity: 1;
    overflow: hidden;
    background-color: #f6f6f6;
}

.kasa-collapse-text ul{
    list-style: none;
}

.kasa-collapse-text ul li {
    padding-bottom: 0.5rem;
}

.kasa-collapse-chevron {
    font-size: 1.2em;
    transition: transform .3s ease-in-out;
}

.clicked{
    transform: rotate(180deg);
}


