.kasa-description-content{
    margin-bottom: 2em;
    color: #ff6060;
    font-size: 1.8rem;
}

.kasa-description-content h1{
    font-size: 3.6rem;
    font-weight: 500;
}


@media screen and (max-width: 376px) {
    .kasa-description-content {
        font-size: 1.4rem;
        margin-bottom: 1rem;
    }
    
    .kasa-description-content h1 {
        font-size: 1.8rem;
    }

    .kasa-description-content span {
        font-size: 1.4rem;
    }
}