.container{
    width: 80vw;
    max-width: 124rem;
    margin: 0 auto; 
}

.kasa-tags-stars-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* =================================== Kasa collapse ================================= */
.kasa-collapse-section{
    display: flex;
    justify-content: space-between;    
}