.container{
    width: 80vw;
    max-width: 124rem;
    margin: 0 auto; 
}


/* =================================== Kasa collapse ================================= */
.kasa-collapse-section{
    display: flex;
    justify-content: space-between;    
}