.kasa-star {
    font-size: 3rem;
    padding-left: 1rem;
    color: #e3e3e3;
}

.kasa-star-color {
    color: #ff6060;
}

@media screen and (max-width: 376px) {
    .kasa-star {
        font-size: 1.5rem;
    }
}