.kasa-tag-container {
    display: flex;
    flex-wrap: wrap;
}


.kasa-tag-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    background-color: #ff6060;
    width: 11.5rem;
    height: 2.5rem;
    border-radius: 1rem;
    color: white;
    font-size: 1.4rem;
}


@media screen and (max-width: 376px) {
    .kasa-tag-wrapper {
        width: 8.4rem;
        height: 1.8rem;
        font-size: 1rem;
        margin-bottom: 1rem;
    }
}