.kasa-Thumbnail-section {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 5rem;
    margin: 5rem 0;
    padding: 5rem;
    max-width: 1240px;
    border-radius: 25px;
    background-color: #f6f6f6;
}


@media screen and (max-width: 1040px) {
    .kasa-Thumbnail-section {
        gap: 2rem;
        padding: 3rem;
        justify-content: center;
        width: 33.5rem;
    }
}

@media screen and (max-width: 376px) {
    .kasa-Thumbnail-section {
        padding: 0;
        background-color: #fff;
        gap: 0;
        margin: 1rem 0;
    }
}