.home-container {
    width: 80vw;
    max-width: 124rem;
    margin: 0 auto; 
}

@media screen and (max-width: 374px) {
    .home-container {    
        background-color: red;
        width: 100vw;
    }
}